USE [master]
GO
/****** Object:  Database [PRN231_Kazilet_v2]    Script Date: 12/13/2024 9:12:10 AM ******/
CREATE DATABASE [PRN231_Kazilet_v2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN231_Kazilet_v2', FILENAME = N'D:\ms sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRN231_Kazilet_v2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN231_Kazilet_v2_log', FILENAME = N'D:\ms sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRN231_Kazilet_v2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN231_Kazilet_v2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN231_Kazilet_v2]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NULL,
	[content] [nvarchar](200) NULL,
	[is_correct] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[course_password] [varchar](50) NULL,
	[isPublic] [bit] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FolderCourse]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderCourse](
	[course_id] [int] NOT NULL,
	[folder_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[folder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folders]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gameplay]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gameplay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [char](6) NULL,
	[user_id] [int] NULL,
	[username] [varchar](20) NULL,
	[turn] [int] NULL,
	[score] [int] NULL,
	[duration] [float] NULL,
	[streak] [int] NULL,
	[created_at] [datetime] NULL,
	[is_get_result] [bit] NULL,
	[avatar] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameplayAnswer]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameplayAnswer](
	[gameplay_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[player_answer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[gameplay_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameplaySetting]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameplaySetting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [char](6) NULL,
	[course_id] [int] NULL,
	[no_question] [int] NULL,
	[time_limit] [int] NULL,
	[is_skill_enabled] [bit] NULL,
	[is_started] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[is_host_play] [bit] NULL,
	[is_completed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningHistory]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningHistory](
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[learning_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](100) NULL,
	[user_id] [int] NULL,
	[link] [varchar](20) NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[content] [nvarchar](200) NULL,
	[is_marked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/13/2024 9:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](70) NULL,
	[role] [int] NULL,
	[type] [varchar](10) NULL,
	[gid] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([id], [question_id], [content], [is_correct]) VALUES (1, 1, N'Hồ Chí Minh', 0)
INSERT [dbo].[Answers] ([id], [question_id], [content], [is_correct]) VALUES (2, 1, N'Hà Nội', 1)
INSERT [dbo].[Answers] ([id], [question_id], [content], [is_correct]) VALUES (3, 1, N'Đà Nẵng', 0)
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([id], [name], [description], [created_at], [created_by], [course_password], [isPublic], [status]) VALUES (1, N'PRN231', N'', CAST(N'2024-10-05T00:00:00.000' AS DateTime), 1, NULL, 1, NULL)
INSERT [dbo].[Courses] ([id], [name], [description], [created_at], [created_by], [course_password], [isPublic], [status]) VALUES (2, N'Course2', N'', CAST(N'2024-09-01T00:00:00.000' AS DateTime), 1, NULL, 1, NULL)
INSERT [dbo].[Courses] ([id], [name], [description], [created_at], [created_by], [course_password], [isPublic], [status]) VALUES (5, N'ABC', N'SADSA', CAST(N'2024-10-31T11:29:15.950' AS DateTime), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
INSERT [dbo].[FolderCourse] ([course_id], [folder_id]) VALUES (5, 1)
INSERT [dbo].[FolderCourse] ([course_id], [folder_id]) VALUES (6, 1)
INSERT [dbo].[FolderCourse] ([course_id], [folder_id]) VALUES (8, 1)
GO
SET IDENTITY_INSERT [dbo].[Folders] ON 

INSERT [dbo].[Folders] ([id], [name], [created_by], [created_at]) VALUES (1, N'PRM392', 1, CAST(N'2024-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Folders] ([id], [name], [created_by], [created_at]) VALUES (6, N'Science Basics', 1, CAST(N'2024-10-31T11:52:52.753' AS DateTime))
INSERT [dbo].[Folders] ([id], [name], [created_by], [created_at]) VALUES (7, N'Math Essentials', 1, CAST(N'2024-10-31T11:52:52.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[Folders] OFF
GO
SET IDENTITY_INSERT [dbo].[Gameplay] ON 

INSERT [dbo].[Gameplay] ([id], [code], [user_id], [username], [turn], [score], [duration], [streak], [created_at], [is_get_result], [avatar]) VALUES (1, N'805751', NULL, N'Mast', 0, NULL, NULL, NULL, NULL, NULL, N'/images/avatar1.jpg')
INSERT [dbo].[Gameplay] ([id], [code], [user_id], [username], [turn], [score], [duration], [streak], [created_at], [is_get_result], [avatar]) VALUES (2, N'805751', NULL, N'trung', 0, NULL, NULL, NULL, NULL, NULL, N'https://localhost:7081/images/avatar9.jpg')
INSERT [dbo].[Gameplay] ([id], [code], [user_id], [username], [turn], [score], [duration], [streak], [created_at], [is_get_result], [avatar]) VALUES (3, N'805751', NULL, N'trung', 1, 800, 8, 1, CAST(N'2024-11-26T04:39:42.207' AS DateTime), 1, N'https://localhost:7081/images/avatar9.jpg')
SET IDENTITY_INSERT [dbo].[Gameplay] OFF
GO
INSERT [dbo].[GameplayAnswer] ([gameplay_id], [question_id], [player_answer]) VALUES (3, 101, 401)
INSERT [dbo].[GameplayAnswer] ([gameplay_id], [question_id], [player_answer]) VALUES (4, 101, 401)
INSERT [dbo].[GameplayAnswer] ([gameplay_id], [question_id], [player_answer]) VALUES (5, 4, 14)
GO
SET IDENTITY_INSERT [dbo].[GameplaySetting] ON 

INSERT [dbo].[GameplaySetting] ([id], [code], [course_id], [no_question], [time_limit], [is_skill_enabled], [is_started], [created_at], [created_by], [is_host_play], [is_completed]) VALUES (1, N'805751', 1, 5, 10, NULL, 1, CAST(N'2024-11-26T11:38:33.597' AS DateTime), 1, NULL, 1)
INSERT [dbo].[GameplaySetting] ([id], [code], [course_id], [no_question], [time_limit], [is_skill_enabled], [is_started], [created_at], [created_by], [is_host_play], [is_completed]) VALUES (2, N'717882', 1, 5, 15, 1, NULL, CAST(N'2024-12-11T11:20:55.627' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[GameplaySetting] ([id], [code], [course_id], [no_question], [time_limit], [is_skill_enabled], [is_started], [created_at], [created_by], [is_host_play], [is_completed]) VALUES (3, N'473731', 1, 4, 10, NULL, 1, CAST(N'2024-12-11T11:21:18.777' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GameplaySetting] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([id], [course_id], [content], [is_marked]) VALUES (1, 1, N'Thủ đô của Việt Nam là gì?', 0)
INSERT [dbo].[Questions] ([id], [course_id], [content], [is_marked]) VALUES (2, 1, N'Ai là người sáng lập ra Facebook?', 0)
INSERT [dbo].[Questions] ([id], [course_id], [content], [is_marked]) VALUES (3, 1, N'Năm nào Việt Nam giành độc lập?', 0)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([id], [role]) VALUES (1, N'User')
INSERT [dbo].[UserRole] ([id], [role]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [password], [role], [type], [gid]) VALUES (1, N'mast', N'tranhaibang665@gmail.com', N'ee4a99aa208bdba9d500bdbf66a66a8a0ee5a45ada15890ddaa4fc4f014c5fe0', 1, N'email', NULL)
INSERT [dbo].[Users] ([id], [username], [email], [password], [role], [type], [gid]) VALUES (2, N'thb', N'bangthhe170871@fpt.edu.vn', N'ee4a99aa208bdba9d500bdbf66a66a8a0ee5a45ada15890ddaa4fc4f014c5fe0', 1, N'email', NULL)
INSERT [dbo].[Users] ([id], [username], [email], [password], [role], [type], [gid]) VALUES (3, N'Nguyen Quoc Trung (K17 HL)', N'trungnqhe172809@fpt.edu.vn', N'c5c98445a59131f5e28582ab8776f47116312e7f6214ce73cd3b7a185bef6425', 1, N'google', N'107110636323463349693')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Gameplay__357D4CF904A6304E]    Script Date: 12/13/2024 9:12:10 AM ******/
ALTER TABLE [dbo].[GameplaySetting] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164AEE4D0A9]    Script Date: 12/13/2024 9:12:10 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[FolderCourse]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[FolderCourse]  WITH CHECK ADD FOREIGN KEY([folder_id])
REFERENCES [dbo].[Folders] ([id])
GO
ALTER TABLE [dbo].[Folders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Gameplay]  WITH CHECK ADD FOREIGN KEY([code])
REFERENCES [dbo].[GameplaySetting] ([code])
GO
ALTER TABLE [dbo].[Gameplay]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[GameplayAnswer]  WITH CHECK ADD FOREIGN KEY([gameplay_id])
REFERENCES [dbo].[Gameplay] ([id])
GO
ALTER TABLE [dbo].[GameplayAnswer]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[GameplaySetting]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[GameplaySetting]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[LearningHistory]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[LearningHistory]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[UserRole] ([id])
GO
USE [master]
GO
